<h1>Cart page</h1>

<form class='product-form'>
  <input class='product-form__title' type='text' name='title' />
  <input class='product-form__price' type='text' name='price' />
  <button class='product-form__button' type='submit'>Add product</button>
</form>

<ul class='cart-list'></ul>