{{#each this}}
  <li class='cart-item' data-id='{{id}}'>
    <p class='product-name'>{{product}}</p>
    <p class='product-price'>{{price}}</p>
    <button class='product-button'>Delete</button>
  </li>
{{/each}}