<h1>Info page</h1>

<form class='formInfo' name='formInfo'>
  <input type='text' name='info' />
  <button class='submitData' type='submit'>Submit</button>
</form>

<button class='dataGetButton' type='button'>Get data</button>

<ul class='infoDataList'></ul>