<div class="container">
  <div class="nav">
    <ul class="nav__list">
      <li class="nav__item nav__item--active" data-page="home">Home</li>
      <li class="nav__item" data-page="cart">Cart</li>
      <li class="nav__item" data-page="chart">Chart</li>
      <li class="nav__item" data-page="info">Info</li>
      <li class="nav__item" data-page="singUp">SingUp</li>
      <li class="nav__item" data-page="singout">SingOut</li>
    </ul>
    <div class="content"></div>
    <ul class="pagination-page__list"></ul>
  </div>
</div>